.emp-container {
  display: flex;
  flex: 0 0 auto;

    .back-icon{
      padding-left: 25px;
      padding-bottom: 20px;
    }
  }

  .emp-details {
    width: 100%;
    margin-top: -28px;
    .file{
      display: none; 
      padding-left: 15px;
    }
    .parablack{
      color: black;
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
      color: #020202;
      opacity: 1;
    }
    
    .save{
      display: flex;
      flex-flow: row-reverse;
    }
    .ag-theme-alpine{
      padding-left: 15px;
      padding-top: 15px;
     
    }
    .form-title{
      padding: 16px 10px 10px 80px;
      font:  20px/24px Roboto;
      letter-spacing: 0px;
      color: #020202;
      opacity: 1;
       .profileTitle{
        color: gray;
        font-family: 'Roboto';
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding: 24px 0px 0px 0px;} 
      .box{
        box-shadow: 2px 2px 12px rgba(88, 88, 88, 0.2);
        max-width: 150px;
        height: 150px;
        .label{
          position: relative; 
          color: gray; 
          left: 38%; 
          top: 39%;
        }
      }
      
    }
    .address{
      min-width: 85%;
    }
    .matmargin{
      padding-top: 20px;
      mat-radio-button{
        margin-right: 10px;
      }
    }
    
    ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: black;
    }
    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
      background-color: black;
    }
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
      background-color: black;
    }
    hr{
      border-top: 3px solid rgba(0, 0, 0, 0.1)
    }
  }
  .heading{
    //padding: 5px;
    padding-top: 20px;
    font: normal normal normal 28px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }