.reject{
    color: rgba(162, 70, 70, 1);
    cursor: pointer;
  }
  .approve{
    color: rgba(70, 143, 73, 1);
    cursor: pointer;
  }
  .fa-trash:hover{
    color: #A24646;
}

.fa-pencil-alt:hover{
    color: #ECBC0F;
}

.fa-eye:hover{
    color: #468F49;
}