hr {
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}
// .btn-dark {
//   height: 30px;
// }

.Align {
  text-align: end;
}
i {
  cursor: pointer;
}

#buttonSize {
  width: 200px;
}

.mat-raised-button {
  background-color: black;
  color: white;
}

#addnewsubscriptionform {
  // padding: 16px 0px 10px 80px;
  padding: 16px 0px 10px 80px;
}

.price {
  padding-left: 25px;
}

.frequency {
  padding-left: 18px;
}
