<!-- <ngx-one-column-layout>
  <ngx-sidebar
    *ngIf="
      !(
        router.url == '/ROS/login' ||
        router.url == '/ROS/accounting/cash-up/new-cashup' ||
        router.url == '/ROS/accounting/cash-up/edit-cashup' ||
        router.url == '/ROS/emp-management/employees/add-employee' ||
        router.url == '/ROS/emp-management/employees/edit-employee' ||
        router.url == '/ROS/emp-management/shift-calendar/shift-schedular' ||
        router.url == '/ROS/register' ||
        includesEditURL(router.url) ||
        includesViewURL(router.url)
      )
    "
  ></ngx-sidebar>

  <router-outlet></router-outlet>
</ngx-one-column-layout> -->
