$topnav-background-color: #fff;
body {
  font: 18px/22px Roboto !important;
}
.sidebar {
  margin-top: -14px;
  padding-top: 10px;
  border-radius: 0;
  //   position: fixed;
  //   z-index: 1000;
  //   top: 56px;
  left: 235px;
  width: 235px;
  //   margin-left: -235px;
  margin-bottom: 48px;
  height: 100%;
  // border: none;
  // border-color: #999;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $topnav-background-color;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 55px;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  //border-top: 1px solid rgba(255, 255, 255, 0.3);
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  .list-group {
    a.list-group-item {
      background: $topnav-background-color;
      border: 0;
      border-radius: 0;
      color: #222;
      text-decoration: none;

      .fa {
        margin-right: 10px;
      }
    }

    a:hover {
      background: darken($topnav-background-color, 10%);
      color: #222;
      text-decoration: none;
    }

    a.router-link-active {
      background: darken($topnav-background-color, 5%);
      color: #222;
    }

    .header-fields {
      padding-top: 10px;

      > .list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }

    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;

      a {
        color: #222;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;

        span {
          position: relative;
          display: block;
          padding: 0.75rem 1.5rem;
          padding-top: 1rem;
        }
      }

      a:hover,
      a:focus {
        color: #999;
        outline: none;
        outline-offset: -2px;
      }
    }

    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }

    .panel-collapse {
      border-radius: 0;
      border: none;

      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: $topnav-background-color;
          border: 0 solid transparent;

          a {
            color: #999;
          }

          a:hover {
            color: #fff;
          }
        }

        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }
}

.nested-menu {
  .list-group-item {
    cursor: pointer;
  }

  .nested {
    list-style-type: none;
  }

  ul.submenu {
    display: none;
    height: 0;
  }

  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;

      li {
        a {
          color: #222;
          padding: 10px;
          display: block;
        }
        a.router-link-active {
          background: darken($topnav-background-color, 5%);
          color: #222;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 0px;
  }
}

@media print {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .header-fields {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
}
.fa-search {
  margin-top: 25px;
  padding-right: 10px;
}
.search-bar {
  margin-top: 15px;
  margin-left: 10px;
  font-size: medium;
  height: 57px;
}

.toggle-button {
  position: initial;
  width: 55px;
  cursor: pointer;
  padding: 20px;
  bottom: 0;
  color: #222;
  background: #fff;

  i {
    font-size: 23px;
  }

  &:hover {
    background: darken($topnav-background-color, 5%);
    color: #999;
  }

  border-top: 1px solid #999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
// #tooltip{
//     position: relative;
//   display: block;
//   border-bottom: 1px dotted black;
// }
// #tooltiptext{
//   visibility: hidden;
//   width: 120px;
//   background-color: grey;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 2px 0;
//   margin-left:80px;
//   /* Position the tooltip */
//   position: absolute;
//   z-index: 1000;
// }

// #tooltip:hover #tooltiptext {
//     visibility: visible;

// }

.collapsed {
  width: 80px;

  .fa-search {
    visibility: hidden !important;
  }

  .fa-caret-down {
    padding-left: 20px;
  }
  span {
    display: none;
  }

  .submenu {
    padding-inline-start: 15px;
    a:hover {
      border-radius: 100%;
      width: 35px;
    }
  }
}
.btn {
  height: auto;
  background-color: #ecbc0f;
  color: #fff;
  border: none;
  font-size: small;
}

.nested-menu-restaurants {
  .list-restaurant {
    cursor: pointer;
  }

  .nested {
    list-style-type: none;
  }

  ul.submenu {
    display: none;
    height: 0;
  }

  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;

      li {
        a {
          color: #222;
          padding: 10px;
          display: block;
        }
        a.router-link-active {
          // background: darken($topnav-background-color, 5%);
          background: #ecbc0f;
          color: #fff;
        }
      }
    }
  }
}
.pos-relative {
  position: relative;
}
.submenu-items {
  text-decoration: none;
}
.icon-cashmanagement {
  background-image: url("../../../assets/images/cashmanagement.svg");
  background-repeat: no-repeat;
  position: absolute;
}
.icon-cashup {
  background-image: url("../../../assets/images/icon.svg");
  background-repeat: no-repeat;
}
.icon-deposit {
  background-image: url("../../../assets/images/deposit.svg");
  background-repeat: no-repeat;
}
.icon-report {
  background-image: url("../../../assets/images/report.svg");
  background-repeat: no-repeat;
}
.icon-reconciliation {
  background-image: url("../../../assets/images/reconciliation.svg");
  background-repeat: no-repeat;
}
.icon-employee {
  background-image: url("../../../assets/images/employee.svg");
  background-repeat: no-repeat;
  position: absolute;
}
.icon-team {
  background-image: url("../../../assets/images/team.svg");
  background-repeat: no-repeat;
}
.icon-rota {
  background-image: url("../../../assets/images/rota.svg");
  background-repeat: no-repeat;
}
.icon-payroll {
  background-image: url("../../../assets/images/payroll.svg");
  background-repeat: no-repeat;
}
.icon-requests {
  background-image: url("../../../assets/images/requests.svg");
  background-repeat: no-repeat;
}
.icon-leaves {
  background-image: url("../../../assets/images/leaves.svg");
  background-repeat: no-repeat;
}
.icon-profile {
  background-image: url("../../../assets/images/profile.svg");
  background-repeat: no-repeat;
}
.icon-stock {
  background-image: url("../../../assets/images/stock.svg");
  background-repeat: no-repeat;
  position: absolute;
}
.icon-products {
  background-image: url("../../../assets/images/products.svg");
  background-repeat: no-repeat;
}
.icon-suppliers {
  background-image: url("../../../assets/images/suppliers.svg");
  background-repeat: no-repeat;
}
.icon-purchase {
  background-image: url("../../../assets/images/purchase.svg");
  background-repeat: no-repeat;
}
.icon-invoices {
  background-image: url("../../../assets/images/invoices.svg");
  background-repeat: no-repeat;
}

.icon-shift-calendar {
  background-image: url("../../../assets/images/shift-calendar.svg");
  background-repeat: no-repeat;
}

.icon-reports {
  background-image: url("../../../assets/images/reports.svg");
  background-repeat: no-repeat;
}
