<h4 style="text-align: center">Subscription</h4>
<br />

<chart type="pie" [data]="data" [options]="options"></chart><br />
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <hr />
    <div style="text-align: center" class="row">
      <div class="col center">
        <span class="dot" [ngStyle]="{ 'background-color': '#4662A2' }"></span
        >&nbsp;&nbsp; <span style="font-size: small">Bespoke</span> &nbsp;&nbsp;
      </div>
      <div class="col center">
        <span class="dot" [ngStyle]="{ 'background-color': '#468F49' }"></span
        >&nbsp;&nbsp;
        <span style="font-size: small"> Premium </span>&nbsp;&nbsp;
      </div>
    </div>
    <hr />
  </div>
  <div class="col-3"></div>
</div>
