.action-icon {
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}
.fa-trash:hover{
  color: #A24646;
}

.fa-pencil-alt:hover{
  color: #ECBC0F;
}

.fa-eye:hover{
  color: #468F49;
}
svg:hover{
  fill: #4662A2;
}